/Java by Helsinki University/mooc-java-programming-i/part03-Part03_01.ThirdElement/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_03.IndexOutOfBoundsException/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_19.IndexWasNotFound/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_20.SumOfArray/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/Java by Helsinki University/mooc-java-programming-i/part03-Part03_27.AVClub/target/
