/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_07.Abbreviations/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_08.PrintMeMyHashmap/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_09.PrintMeAnotherHashmap/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_10.IOweYou/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_11.SameDate/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_13.VehicleRegistry/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_14.DictionaryOfManyTranslations/target/
/Java by Helsinki University/mooc-java-programming-ii/part08-Part08_15.StorageFacility/target/
/Java by Helsinki University/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/Java by Helsinki University/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
