/*  You can use CSS to make elements with this class completely hidden from the visual page, but still be announced by screen readers. */
/* This will select any span element whose class includes sr-only */
span[class~="sr-only"] {
  /* Rather than having to constantly double-check you are not overwriting your earlier properties, you can use the !important keyword to ensure these properties are always applied, regardless of order or specificity. */
  /* The :not() pseudo-selector is used to target all elements that do not match the selector */
  border: 0 !important;
  /* The CSS clip property is used to define the visible portions of an element */
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* The clip-path property determines the shape the clip property should take */
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  /* You need to take these hidden elements out of the document flow */
  position: absolute !important;
  overflow: hidden !important;
  /* The white-space CSS property sets how white space inside an element is handled. */
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #0a0a23;
}

h1 {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

/* The :first-of-type pseudo-selector is used to target the first element that matches the selector. */
h1 .flex span:first-of-type {
  font-size: 0.7em;
}

/* The :last-of-type pseudo-selector does the exact opposite - it targets the last element that matches the selector. */
h1 .flex span:last-of-type {
  font-size: 1.2em;
}

section {
  max-width: 40rem;
  margin: 0 auto;
  border: 2px solid #d0d0d5;
}

#years {
  display: flex;
  /* Justify the content to the end of the flex direction */
  justify-content: flex-end;
  /* Adding position sticky moved the element into its own stack. To ensure your #years element does not get hidden by different stacks, add a z-index property set to 999 in the #years rule. */
  position: sticky;
  z-index: 999;
  top: 0;
  background: #0a0a23;
  color: #fff;
  /* The calc() function is a CSS function that allows you to calculate a value based on other values */
  padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  margin: 0 -2px;
}

/*  The span[class] syntax will target any span element that has a class attribute set, regardless of the attribute's value */
#years span[class] {
  font-weight: bold;
  width: 4.5rem;
  text-align: right;
}

.table-wrap {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
  /* Allow cell borders to collapse into a single border, instead of a border around each cell. */
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

/* Give the captions an absolute position, and shift them -2.25rem from the top and 0.5rem from the left. */
table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}

/* Give them a width to fill the viewport, with a minimum and maximum of 4rem. This approach ensures that the width is fixed, whereas setting width specifically would allow the elements to shrink to the container. */
tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
}

tbody th {
  /* Target the th elements within your table body, and give them a width of the entire container, less 12rem. */
  width: calc(100% - 12rem);
}

tr[class="total"] {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}

/* The key difference between tr[class="total"] and tr.total is that the first will select tr elements where the only class is total. The second will select tr elements where the class includes total */
tr[class="total"] th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

tr.total td {
  text-align: right;
  padding: 0 0.25rem;
}

/* The :nth-of-type() pseudo-selector is used to target specific elements based on their order among siblings of the same type */
tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}

/* Give your tr.total elements a hover effect that changes the background to #99c9ff. */
tr.total:hover {
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

tr.data {
  background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

tr.data td {
  vertical-align: top;
  padding: 0.3rem 0.25rem 0;
  text-align: right;
}

tr.data td:last-of-type {
  padding-right: 0.5rem;
}





